<ion-view view-title="Today">

  <ion-content>
    <ion-refresher
            on-refresh="getTodayPhotos()">
    </ion-refresher>

    <div class="noPhotosMessage" ng-show="todayPhotos.length == 0">
      <p>There's nothing here</p>
    </div>

    <div class="list card" ng-repeat="photo in todayPhotos" >
      <div style="padding-top: 10px; padding-left: 10px">
        <p>{{photo.date}}</p>
      </div>

      <div class="item item-image">
        <!--<center><i class="icon ion-image"></i></center>-->
        <img ng-src="data:image/jpg;base64,{{photo.base64}}" width="auto"/>
      </div>

      <div class="item item-button-right">
        <p>{{photo.camera}}</p>
        <button class="button button-clear button-assertive icon ion-trash-b" ng-click="deletePhoto(photo)"></button>
      </div>
    </div>

    </ion-content>

  </ion-content>
</ion-view>
