<ion-view view-title="Today">

  <ion-content>
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="">
    </ion-refresher>



    <div class="list card" ng-repeat="photo in todayPhotos">
      <div style="padding: 10px">
        <p>{{photo.date}}</p>
      </div>

      <div class="item item-image" style="padding:100px"> <!-- Temporary padding to illustrate how much room a photo might take up -->
        <center><i class="icon ion-image"></i></center>
      </div>

      <div class="item">
        <div class="button-bar">
          <a class="button button-full button-balanced icon ion-checkmark"></a>
          <a class="button button-full button-assertive icon ion-close"></a>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
