<ion-view view-title="Today">

  <ion-content>
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getTodayPhotos()">
    </ion-refresher>

    <div class="list card" ng-repeat="photo in todayPhotos">
      <div style="padding-top: 10px; padding-left: 10px">
        <p>{{photo.date}}</p>
      </div>

      <div class="item item-image" style="padding:100px"> <!-- Temporary padding to illustrate how much room a photo might take up -->
        <center><i class="icon ion-image"></i></center>
      </div>

      <div class="item">
        <div class="button-bar">
          <button class="button button-full button-balanced icon ion-checkmark" ng-click=""></button>
          <button class="button button-full button-assertive icon ion-close"></button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
