/* Empty. Add your own CSS if you like */
.pane {
    background-color: #F0F0F0;
}

.noPhotosMessage {
    padding-top: 50px;
    text-align: center;
    color: gray;
    font-size: 15px;

}

.card-green .item {
    background: lightgreen;
}